* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(243, 96, 140);
}

#main-wrapper {
    max-width: 40%;
    height: fit-content;
    padding: 0 1rem;
    padding-bottom: 1.3rem;
    background-color: rgb(250, 46, 114);
    border-radius: 1rem;
    border: 1rem solid rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color:rgb(255, 255, 255);
    margin: 1rem;
    text-decoration: rgb(209, 1, 105) underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 5px;
}

h1 {
    font-size: 60px;
    color:#fff;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-shadow: 0rem 0.1rem 0 rgb(252, 32, 50),
                0.05rem 0.2rem 0 rgb(252, 32, 50),
                0.1rem 0.1rem 0 rgb(252, 32, 50);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

p {
    margin: 2rem 0;
    color: rgb(255, 255, 255);
}

.list-wrapper {
    width: auto;
    height: auto;
}

ol, ul {
    display: inline-block;
    color: #ffff
}

li {
    margin: 1rem;
}

a {
    padding: 0.2em 0.5em;
    margin: 0.5rem;
    border-radius: 0.2em;
    text-decoration: none;
    font-weight: bold;
}

#link-button {
    background-color: rgb(250, 209, 27);
    text-shadow: 1px 2px 0 rgb(187, 141, 15);
    color: #ffff;
}

#link-button:hover {
    background-color: #ffff;
    text-shadow: 1px 2px 0 rgb(187, 141, 15);
    color: rgb(250, 209, 27);
}

#nav-button {
    background-color: rgb(155, 84, 248);
    text-shadow: 1px 2px 0 rgb(107, 34, 202);
    color: rgb(255, 255, 255);
}

#nav-button:hover {
    background-color: rgb(139, 55, 250);
    color: rgb(255, 255, 255);
}

#pumpkin-img-wrapper {
    width: 50%;
    position: relative;
    margin: 1rem;
    overflow: hidden;
    border-radius: 50%;
    border: 18px solid #ffff;
    aspect-ratio: 1 / 1;
}

#pumpkin-img {
    width: 120%;
    position: absolute;
    bottom: -95%;
    right: 0;
}

footer {
    margin: 1rem auto;
}

video {
    width: 60%;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 5px solid purple
}